<%= title "Mensajes" %>

<div class="actions">
  <%= link_to 'Crear mensaje', new_message_path %>
</div>

<table>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= message.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= message.action %></td>
        <td><%= message.user_name %></td>
        <td><%= message.user.name if message.user %></td>
        <td><%= link_to message.body, message %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_message_path(message) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />


