<%= title "Investigaciones" %>

<div class="actions">
  <%= link_to 'Crear proyecto', new_project_path %>
</div>

<table>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td><%= project.description %></td>
        <td><%= project.public? ? 'Público' : 'Sólo colaboradorxs' %></td>
        <td><%= project.stage %></td>

        <td class="actions">
          <%= link_to 'Operaciones', project_operations_path(project) %>
          <%= link_to 'Colaboradorxs', project_collaborators_path(project) %>
          <%= link_to 'Artículos', project_articles_path(project) %> |
          <%= link_to 'Editar', edit_project_path(project) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />


