<h1>Listing projects</h1>

<table>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project %></td>
        <td class="actions">
          <%= link_to 'Operaciones', project_operations_path(project) %>
          <%= link_to 'Colaboradorxs', project_collaborators_path(project) %>
          <%= link_to 'Documentos', project_documents_path(project) %> |
          <%= link_to 'Editar', edit_project_path(project) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />

<%= link_to 'New Project', new_project_path %>
