<%= title "Investigación '#{@project.title}'" %>

<div class="actions">
  <%= link_to 'Operaciones', project_operations_path(@project) %> |
  <%= link_to 'Articulos', project_articles_path(@project) %>
  <%= link_to 'Discusiones', project_discussions_path(@project) %>
  <%= link_to 'Índices', project_books_path(@project) %>
</div>
<%= show_for @project do |project| %>
  <%= project.attribute :title %>
  <%= project.attribute :description %>
  <%= project.attribute :stage %>
  <%= project.attribute :public %>
<% end %>

