<%= simple_form_for([@project, repository]) do |f| %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :description, :as => :text %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Cancelar', [@project, repository] %>
  </div>
<% end %>
