<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - Bookapp </title>
    <%= stylesheet_link_tag 'scaffold.css' %>
    <%= javascript_include_tag 'libs/jquery-1.4.4.min.js', 'rails.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page">
      <div id="head">
        <div class="session">
          <% if current_user %>
            <%= current_user.name %> |
            <%= link_to "Salir", destroy_user_session_path %>
          <% else %>
            <%= link_to "Entrar", new_user_session_url %>
            <%= link_to "Registrarse", new_user_registration_url %>
          <% end %>
        </div>
        <div class="navigation">
          <%= link_to 'Investigaciones', projects_url %> |
          <%= link_to 'Mensajes', messages_url %> |
          <%= link_to 'Usuarios', users_url %> |
          <%= link_to 'Sistema', '/rails/info/properties' %>
        </div>
        <div class="links">
          <% if @project %>
            Investigación: <%= link_to @project.title, @project %><br/>
            <% repo = @article %>
            <% if repo %>
              Repositorio: <%= repo.title %> <%= link_to 'Operaciones', [@project, repo, :operations] %>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
