<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> - Bookapp </title>
    <%= stylesheet_link_tag 'scaffold.css' %>
    <%= javascript_include_tag 'libs/jquery-1.4.4.min.js', 'rails.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page">
      <div id="head">
        <div class="session">
          <% if current_user %>
            <%= current_user.name %> |
            <%= link_to "Salir", destroy_user_session_path %>
          <% else %>
            <%= link_to_rpx "Sign in", user_session_url %>
            <%= link_to_rpx "Log in", user_session_url %>
          <% end %>
        </div>
        <div class="navigation">
          <%= link_to 'Investigaciones', projects_url %>
          <%= link_to 'Mensajes', messages_url %>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= javascript_include_rpx(user_session_url) %>
  </body>
</html>
