<!DOCTYPE html>
<html>
  <head>
    <title>Bookapp</title>
  </head>
  <link href="/stylesheets/reset-min.css" media="screen" rel="stylesheet" type="text/css" />
  <style type="text/css">
    html {
      font-size: 90%;
      font-family: 'Nobile', sans;
      background-color: #C6C8CA;
    }
    #working {
      padding: 1px 5px;
      position: absolute;
      right: 0; top: 0;
      font-size: 80%;
      background-color: #FEFF8F;
      color: #00AEEF;
      border-radius: 0 0 0px 3px;
      -webkit-box-shadow: -3px 3px 5px #888;
      z-index: 5000;
    }
  </style>
  <body>
    <div id="working">Trabajando...</div>
    <div id="workspace" style="display: none;">
      <div id="left">
        <ul id="site_navigation">
          <li class="sprite-nav sprite-nav-entranceicon active" id="navigate-to-projects">Investigaciones</li>
          <li style="display: none" class="sprite-nav sprite-nav-archivesicon" id="navigate-to-documents">Artículos</li>
          <li style="display: none" class="sprite-nav sprite-nav-editionicon navigation-disabled" id="navigate-to-discussions">Discusiones</li>
          <li style="display: none" class="sprite-nav sprite-nav-bookaicon navigation-disabled" id="navigate-to-index">Indice</li>
        </ul>
        <div id="browser-viewport">
          <div class="browser projects" style="display: none;">
            <h1>Investigaciones</h1>
            <div class="list"></div>
            <div class="actions">
              <a class="action-new iconic iconic-plus_alt_16x16" title="Añadir una investigación">Añadir investigación</a>
            </div>
          </div>
          <div class="browser articles" style="display: none;">
            <h1>Artículos</h1>
            <div class="list"></div>
            <div class="actions">
              <a class="action-new iconic iconic-plus_alt_16x16" title="Crear un nuevo artículo">Crear artículo</a>
            </div>
          </div>
          <div class="browser discussions" style="display: none;">
            <h1>Temas de debate</h1>
            <div class="list"></div>
            <div class="actions">
              <a class="action-new iconic iconic-plus_alt_16x16" title="Añadir tema de debate">Añadir tema de debate</a>
            </div>
          </div>

        </div>
      </div>
      <div id="center">
        <div id="user_controls">
          <div id="location">
            <a id="plataformabooka" href="#">Plataformabooka.net > </a>
            <a id="current_project" href="#"></a>
            <a id="current_repository" href="#"></a>
          </div>
        </div>
        <div id="booka-status">
        </div>
        <div id="content-viewport">
          <div id="content">
          </div>
        </div>
        <div id="user-status">
          <a href="#sesion" id="current_user" style="display: none;">
          </a>
          <div id="session_controls">
            ¿Quién eres?: <a href="#entrar" id="login">Entrar</a>
            ¿Nuevo aquí?: <a href="#alta" id="login">Darse de alta</a>
          </div>
        </div>
      </div>
      <div id="right">
        <ul id="user_navigation">
          <li style="display:none;" class="sprite-nav sprite-nav-loginicon" id="navigate-to-users">Colaboradorxs</li>
          <li class="sprite-nav sprite-nav-contacticon" id="navigate-to-activities">Actividad</li>
        </ul>
        <div id="comm-viewport">
          <div id="communicator" class="comm">
            <div class="list"></div>
            <div class="controls">
              <label class="status"></label>
              <div id="messages-input">
                <textarea cols="6" rows="2" class="body"></textarea>
              </div>
            </div>
          </div>
          <div id="users" class="browser users" style="display: none;">
            <h1>Tus colaboradorxs</h1>
            <div class="info">

            </div>
            <div class="list"></div>
            <div class="controls">
            </div>
          </div>
        </div>
      </div>
    </div>


    <%= yield %>


    <!-- link href="/stylesheets/icons.css" media="screen" rel="stylesheet" type="text/css" /-->
  <link rel="stylesheet/less" href="/less/booka.less" type="text/css" />
  <%= javascript_include_tag 'libs/less-1.0.36.min.js' %>
  <link  href="//fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" />
  <!--script type="text/javascript" src="http://beaconpush.com/1/client.js"></script -->
  <%= include_javascripts :client %>

  <%= render 'tmpl' %>
  <%= render 'tmpl_documents' %>
  <%= render 'tmpl_projects' %>
  <%= render 'tmpl_articles' %>
  <%= render 'tmpl_discussions' %>
  <%= render 'tmpl_session' %>
  <%= render 'tmpl_collaborators' %>
  <%= render 'tmpl_books' %>
</body>
</html>
